<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class=" bg-light">
    <div class="d-flex flex-column flex-md-row  align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-lg">
      <h3 class="my-0 mr-md-auto text-light fw-weight-bolder ">АВС</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">

          <a class="p-2 text-light px-5" href="/">Главная страница</a>
          <a class="p-2 text-light px-5" href="/Schedule">Расписание</a>
          <a class="p-2 text-light px-5" href="/teacher">Пары</a>
          <a class="p-2 text-light px-5" href="/Subject">Предметы</a>
          <a class="p-2 text-light px-5" href="/TeachName">Преподаватели</a>
          <a class="p-2 text-light px-5" href="/about">Разработка</a>
      </nav>
        <a class="btn btn-outline-light" href="/create-teacher">Добавить пару в расписание</a>

    </div>
 {% block body %}{% endblock %}
 <footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">

      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2020-2021</small>
      </div>
      <div class="col-6 col-md">

        <h5>Группа</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">БФИ1801</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Студент</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Владимиров Илья</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Предмет</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">АВС</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>